.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
}

.foucus {
    position: relative;
    float: left;
    overflow: hidden;
    width: 721px;
    height: 455px;
}

.foucus ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 800%;
}

.foucus ul img {
    width: 721px;
    height: 455px;
}

.foucus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
    z-index: 2;
}

.arrow-l {
    left: 5px;
}

.arrow-r {
    right: 5px;
}

/* 小圆圈 */
.circle {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.circle li {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.foucus a:hover {
    color: #fff;
}

.foucus .current {
    background-color: #fff;
}

.newsflash {
    float: right;
    overflow: hidden;
    width: 251px;
    height: 455px;
    border: 1px solid #e8e8e7;
}

.newsflash .news {
    height: 165px;
    padding-left: 15px;
    border-bottom: 1px solid #e8e8e7;
}

.news .news_hd {
    height: 32px;
    border-bottom: 1px dotted #e8e8e7;
    line-height: 32px;
}

.news_hd h5 {
    float: left;
    font-weight: 400;
}

.news_hd .more {
    float: right;
}

.news_hd .more::after {
    font-family: 'icomoon';
    content: '\e908';
    margin-left: 5px;
}

.news_bd ul>li {
    margin: 6px 0;
}

.lifeservice {
    width: 252px;
    height: 213px;
}

.lifeservice ul>li {
    float: left;
    width: 63px;
    height: 71px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e8e8e7;
    text-align: center;
}

.lifeservice ul>li:nth-child(1) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -15px -15px;
}

.lifeservice ul>li:nth-child(2) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -80px -16px;
}

.lifeservice ul>li:nth-child(3) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -142px -17px;
}

.lifeservice ul>li:nth-child(4) i {
    display: inline-block;
    width: 32px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -204px -16px;
}

.lifeservice ul>li:nth-child(5) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -14px -87px;
}

.lifeservice ul>li:nth-child(6) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -78px -87px;
}

.lifeservice ul>li:nth-child(7) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -140px -87px;
}

.lifeservice ul>li:nth-child(8) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -205px -87px;
}

.lifeservice ul>li:nth-child(9) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -17px -158px;
}

.lifeservice ul>li:nth-child(10) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -78px -158px;
}

.lifeservice ul>li:nth-child(11) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -140px -155px;
}

.lifeservice ul>li:nth-child(12) i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    background: url(../images/icons.png) no-repeat -205px -160px;
}

.bargain {
    width: 251px;
    height: 71px;
    margin-top: 5px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    width: 206px;
    height: 163px;
    padding-top: 30px;
    background-color: #5c5251;
    text-align: center;
}

.recom_bd ul>li {
    position: relative;
    float: left;
}

.recom_bd ul>li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 143px;
    background-color: #ddd;
}

.recom_bd ul>li img {
    width: 248px;
    height: 163px;
}

/* 猜你喜欢模块 start */
.rcommd {
    height: 262px;
}

.rcommd_hd {
    height: 30px;
    margin-top: 12px;
    line-height: 30px;
}

.rcommd_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.rcommd_hd span {
    float: right;
}

.rcommd_bd {
    height: 222px;
    border: 1px solid #ededed;
}

.rcommd_bd ul>li {
    position: relative;
    float: left;
}

.rcommd_bd ul>li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 1px;
    height: 62px;
    background-color: #ededed;
}

.rcommd_bd img {
    width: 198px;
    height: 220px;
}

/* 猜你喜欢模块 end */
/* 有趣区模块 start */
.youququ {
    height: 433px;
    background-color: #f7f7f7;
}

.yqq_hd h3 {
    font-size: 18px;
    font-weight: 400;
}

.yqq_bd {
    overflow: hidden;
}

.yqq_bd ul>li {
    float: left;
}

/* 有趣区模块 end */
/* 楼层模块 start */
/* 第一楼层 */
.jiadian {
    height: 512px;
}

.box_hd {
    height: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}

.box_hd ul {
    float: right;
}

.box_hd ul>li {
    float: left;
}

.box_hd ul>li a {
    margin: 0 16px;
}

.box_bd {
    height: 360px;
    /* background-color: aqua; */
}

.tab_list_item {
    overflow: hidden;
}

.box_bd .tab_list_item div {
    float: left;
}

.col_210 {
    width: 210px;
    line-height: 33px;
    text-align: center;
}

.col_210 ul>li {
    float: left;
    width: 88px;
    height: 33px;
    margin: 0 6px;
    border-bottom: 1px solid #ededed;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
}

.col_219 {
    width: 219px;
}

.box_bd img {
    width: 100%;
}

.bottom_bar {
    overflow: hidden;
    margin-top: 30px;
    background-color: #f7f7f7;
}

.bottom_bar ul>li {
    float: left;
    width: 120px;
}

.bottom_bar a {
    display: block;
}

/* 第一楼层 end */
/* 楼层模块 end */
/* 底栏 start */
.bar {
    height: 315px;
    margin-bottom: 30px;
}

.bar h3 {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

.bar_bd {
    height: 285px;
    border: 1px solid #e5e5e5;
}

.bar_bd>div {
    float: left;
    height: 100%;
    border-right: 1px solid #e5e5e5;
}

.bar_col_240 {
    width: 240px;
}

.bar_col_220 {
    width: 220px;
}

.bar_col_298 {
    width: 298px;
}

/* 底栏 end */
/* 电梯导航 start */
.fixedtool {
    display: none;
    position: fixed;
    left: 0;
    top: 20%;
    width: 100px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}

.fixedtool .current {
    color: #fff;
    background-color: #c81623;
}

.fixedtool li {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-top: -1px;
    cursor: pointer;
}
/* 电梯导航 end */