.account-main {
    display: flex;
    height: 1007px;
}

.account-content {
    flex: 1;
}

.acciunt-header {
    padding: 20px;
}

.acciunt-header .title {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    font-weight: 500;
    color: #333;
}

.acciunt-header .title .icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
}

.account-nav {
    float: right;
}

.account-nav-item {
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    line-height: 40px;
    font-size: 14px;
    color: #838383;
    transition: all .3s;
}
.account-nav-item:hover {
    color: #ff6700;
}

.account-nav-divider {
    display: inline-block;
    height: 14px;
    margin: 0 10px;
    vertical-align: middle;
    border: 1px solid #ddd;
}
/* 右边小三角 */
.account-nav-item em {
    display: inline-block;
    border-width: 5px;
    border-style: solid;
    border-color: #838383 transparent transparent;
    transform-origin: center 20%;
    transition: all .3s;
}
.account-nav-item:last-child {
    position: relative;
}
.account-nav-item:last-child:hover .account-nav-dd {
    display: block;
}
.account-nav-item:last-child:hover em {
    transform: rotate(180deg);
    border-top-color: #ff6700;
 }
.account-nav-dd {
    display: none;
    position: absolute;
    top: 40px;
    left: -5px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}
.account-nav-dd div {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #838383;
    transition: all .3s;
}
.account-nav-dd div:hover {
    background-color: #f5f5f5;
}
/* 内容部分 */
.account-container {
    padding-top: 123.5px;
}
.account-card {
    position: relative;
    width: 450px;
    padding: 40px 45px;
    margin: 0 auto 80px;
    border-radius: 4px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
}
.qrcode-wrap {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .4;
}
.qrcode-wrap .dd {
    display: none;
    position: absolute;
    top: 10px;
    left: -95px;
    width: 85px;
    height: 35px;
    background-color: #ff5c00;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;

}
.qrcode-wrap .dd::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #ff5c00;
}
.qrcode-wrap:hover {
    opacity: 1;
}
.qrcode-wrap:hover .dd {
    display: block;
}
.ant-tabs {
    width: 360px;
}
.ant-tabs-nav {
    height: 41px;
}
.ant-tabs-nav-list {
    width: 128px;
    height: 41px;
}
.ant-tabs-nav-list a {
    display: inline-block;
    width: 48%;
    height: 41px;
    line-height: 38px;
    font-size: 22px;
    color: #bbb;
}
.account-banner {
    width: 375px;
    height: 100%;
    background: url(../images/account_banner.jpg) no-repeat;
    background-size: cover;
}