.nav_tab_list {
    display: none;
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 0;
    width: 234px;
    height: 460px;
    padding: 20px 0;
    border: 1px solid #ff6a00;
    background-color: #fff;
}

.nav .nav_dt:first-child:hover .nav_tab_list {
    display: block;
}

.nav_tab_list .nav_list_title {
    position: relative;
    display: block;
    height: 42px;
    padding-left: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #424242;
}

.nav_tab_list .nav_list_title::after {
    content: '\e908';
    position: absolute;
    left: 180px;
    font-family: 'icomoon';
    color: #e0e0e0;
}

.nav_tab_list .nav_list_title:hover {
    background-color: #ff6a00;
}

.nav_title_dd {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 234px;
    width: 998px;
    height: 460px;
    border-width: 1px;
    border-style: solid;
    border-color: #b0b0b0 #b0b0b0 #b0b0b0 transparent;
    background-color: #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .3);
}

.nav_title_dd .col {
    float: left;
}

.nav_title_dd .col>li {
    width: 248px;
    height: 76.4px;
    padding-left: 20px;
    background-color: #fff;
    line-height: 76px;
}

.nav_title_dd a {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.nav_title_dd .col>li {
    /* 1.先强制一行内显文本 默认normal自动换行 */
    white-space: nowrap;
    /* 2. 超的部分隐藏 */
    overflow: hidden;
    /* 3. 文字用省略号替代超出的部分 */
    text-overflow: ellipsis;
}

.nav_title_dd a:hover {
    color: #ff6a00;
}

.nav_title_dd .col>li img {
    width: 40px;
}

.nav_list_dt:hover .nav_title_dd {
    display: block;
}

/* nav部分 end */
/* commodity-nav-bar */
.commodity-nav-bar {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 6px 5px rgba(0, 0, 0, .1);
}

.commodity-nav-bar h2 {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #424242;
}

.commodity-nav-bar .left {
    float: left;
    margin: 21px 0 5px 0;
    font-size: 12px;
}

.commodity-nav-bar .left a {
    color: #616161;
}

.commodity-nav-bar .separator {
    margin: 0 8px;
    font-size: .5em;
    color: #424242;
}

.commodity-nav-bar .right {
    float: right;
    margin-top: 17px;
    color: #e0e0e0;
}

.commodity-nav-bar .right a {
    font-size: 14px;
    color: #616161;
}

.commodity-nav-bar a:nth-of-type(-n+4):hover {
    color: #ff6a00;
}

.commodity-nav-bar .right a:last-child {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin-left: 5px;
    background-color: #ff6700;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.commodity-nav-bar .right a:last-child:hover {
    background-color: #f25807;
}

/* 内容部分  start */
.comment-content {
    padding: 32px 0 30px;
    background-color: #f5f5f5;
}
.comment-top {
    padding: 40px;
    margin-bottom: 30px;
    background-color: #fff;
}
.comment-top .title {
    font-size: 18px;
    color: #757575;
}
.category {
    height: 64px;
    padding-bottom: 10px;
    margin-top: 14px;
}
.category .chose {
    float: left;
    width: 171px;
    height: 48px;
    margin-right: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    color: #b0b0b0;
}
.category .chose:first-child {
    background-color: #ff6700;
    border: 0;
    color: #fff;
}
.comment-mid {
    position: relative;
}
.mid-left {
    width: 792px;
}
.l-top {
    height: 50px;
}
.l-top .title {
    float: left;
    width: 200px;
    height: 40px;
    font-size: 22px;
    color: #616161;
}
.l-top .choose {
    float: right;
    width: 125px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    font-size: 14px;
    color: #b0b0b0;
}
.l-top .choose input {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    vertical-align: middle;
    transform: translateY(-3px);
}
.l-content {
    overflow: hidden;
}
.l-content .common {
    position: relative;
    width: 100%;
    padding: 40px 40px 46px 103px;
    margin-bottom: 15px;
    background-color: #fff;
}
.l-content .common .port {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 47px;
    height: 47px;
}
.l-content .common .port img {
    width: 100%;
    height: 100%;
}
.l-content .common .love {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 200px;
    height: 26px;
    text-align: right;
    font-size: 16px;
    color: #ff7b33;
}
.l-content .common .love img {
    width: 26px;
    vertical-align: top;
    transform: translateY(-2px);
}
.l-content .common .top {
    height: 44px;
}
.l-content .common .top .tit {
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #8d665a;
}
.l-content .common .top .times {
    height: 20px;
    margin-top: 6px;
    line-height: 20px;
    font-size: 14px;
    color: #b0b0b0;
}
.l-content .common .evaluate {
    display: inline-block;
    margin-top: 8px;
    line-height: 27px;
    font-size: 18px;
    color: #5e5e5e;
}
.l-content .common .images {
    overflow: hidden;
    margin-top: 14px;
}
.l-content .common .images img {
    float: left;
    width: 160px;
    height: 160px;
    margin: 0 8px 8px 0;
    cursor: pointer;
}
.appreciate {
    margin-top: 8px;
    line-height: 33px;
    font-size: 14px;
    color: #757575;
    cursor: pointer;
}
.appreciate img {
    width: 22px;
    vertical-align: -2px;
}
.reply {
    position: relative;
    margin-top: 14px;
}
.reply input {
    width: 520px;
    height: 43px;
    padding: 10px 0 10px 20px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    color: #b0b0b0;
}
.reply .btn {
    position: absolute;
    top: 0;
    left: 520px;
    width: 100px;
    height: 43px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    color: #757575;
}
.commentlist {
    margin-top: 46px;
}
.mid-right {
    position: relative;
    float: right;
    width: 420px;
    padding: 22px 30px 40px;
    margin: 50px 0 30px;
    background-color: #fff;
}
.mid-right .m-t {
    font-size: 14px;
    color: #b0b0b0;
}
.mid-right .m-t span {
    font-size: 60px;
    color: #ff6700;
}
.mid-right .m-b {
    margin-top: 10px;
    background-color: #f1f2f6;
}
.mid-right .m-b i {
    display: block;
    width: 99.3%;
    height: 22px;
    background-color: #83c44e;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
/* 内容部分 end */