.nav_tab_list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    width: 234px;
    height: 460px;
    padding: 20px 0;
    border: 1px solid #ff6a00;
    background-color: #fff;
}
.nav .nav_dt:first-child:hover .nav_tab_list {
    display: block;
}

.nav_tab_list .nav_list_title {
    position: relative;
    display: block;
    height: 42px;
    padding-left: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #424242;
}
.nav_tab_list .nav_list_title::after {
    content: '\e908';
    position: absolute;
    left: 180px;
    font-family: 'icomoon';
    color: #e0e0e0;
}
.nav_tab_list .nav_list_title:hover {
    background-color: #ff6a00;
}
.nav_title_dd {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 234px;
    width: 998px;
    height: 460px;
    border-width: 1px;
    border-style: solid;
    border-color: #b0b0b0 #b0b0b0 #b0b0b0 transparent;
    background-color: #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .3);
}
.nav_title_dd .col {
    float: left;
}
.nav_title_dd .col>li {
    width: 248px;
    height: 76.4px;
    padding-left: 20px;
    background-color: #fff;
    line-height: 76px;
}
.nav_title_dd a {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.nav_title_dd .col>li {
    /* 1.先强制一行内显文本 默认normal自动换行 */
    white-space: nowrap;
    /* 2. 超的部分隐藏 */
    overflow: hidden;
    /* 3. 文字用省略号替代超出的部分 */
    text-overflow: ellipsis;
}

.nav_title_dd a:hover {
    color: #ff6a00;
}

.nav_title_dd .col>li img {
    width: 40px;
}

.nav_list_dt:hover .nav_title_dd {
    display: block;
}
/* nav部分 end */
.search_container {
    background-color: #f5f5f5;
}

.breadcrumbs {
    height: 40px;
    line-height: 40px;
    color: #757575;
}

.breadcrumbs span {
    margin: 0 6px;
}

.breadcrumbs a:hover {
    color: #ff6700;
}

.search_filter {
    background-color: #fff;
}

.filter_wrap {
    height: 84px;
    padding: 18px 0;
}

.filter_list dt,
.filter_list dd {
    float: left;
    height: 48px;
    padding: 14px 0;
}

.filter_list dt {
    width: 42px;
    height: 48px;
    margin-right: 60px;
    font-size: 14px;
    color: #b0b0b0;
}

.filter_list a {
    display: block;
    width: 148px;
    height: 20px;
    font-size: 14px;
    color: #424242;
}

.filter_list a:hover {
    color: #ff6700;
}

/* 列表主要部分 */
.search_main {
    padding: 20px 0 100px;
}

.order_list_box {
    height: 30px;
    margin: 20px 0;
}

.order_list {
    float: left;
}

.order_list li {
    float: left;
    padding: 0 30px;
}

.order_list li:nth-child(-n+3) {
    border-right: 1px solid #e0e0e0;
}

.order_list li a {
    font-size: 14px;
    color: #424242;
}

.order_list li a:hover {
    color: #ff6700;
}

.type_list {
    float: right;
}

.type_list li {
    float: left;
    margin-left: 30px;
}

.type_list_label {
    position: relative;
}

.type_list_label span {
    margin-right: 8px;
    font-size: 14px;
    color: #424242;
}

.type_list_label>a {
    display: block;
    float: right;
    height: 25px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

/* 填写地址栏 */
.type_list_label>a .address_dd {
    display: none;
    position: absolute;
    top: 25px;
    left: -140%;
    width: 621px;
    height: 391px;
    padding: 40px 30px 0;
    border: 1px solid #e3e3e3;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    background-color: #fff;
    font-family: 'icomoon';
}

.type_list_label>a:hover .address_dd {
    display: block;
}

.address_dd .input {
    position: relative;
    width: 562px;
    height: 42px;
    border: 1px solid #e0e0e0;
}

.address_dd .input input {
    width: 559px;
    height: 40px;
    padding-left: 40px;
}

.address_dd .input::before {
    content: '\e911';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #b2b2b2;
}

.address_dd h3 {
    font-size: 16px;
    color: #b0b0b0;
}

.address_links {
    width: 100%;
    height: 80px;
    text-align: right;
    line-height: 50px;
    color: #b0b0b0;
}

.address_dd p {
    margin-top: 30px;
    text-align: center;
    color: #757575;
}

.address_dd p .btn {
    color: #ff6700;
}

/* 右下角的三角形 */
.type_list_label>a::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 0;
    height: 0;
    border-color: transparent #a7a7a7 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 10px;
}

.type_list li>a {
    font-size: 14px;
    color: #424242;
}

.type_list li>a:hover {
    color: #ff6700;
}

.type_list li>a:hover::after {
    border-right-color: #ff6700;
}

.type_list li>a>input {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

/* 商品部分 start */
.goods_list .goods_item {
    float: left;
    width: 296px;
    height: 430px;
    margin: 0 14px 14px 0;
    background-color: #fff;
    transition: all .8s;
}

.goods_item:hover {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .3);
}

.goods_item a {
    display: block;
    width: 296px;
    height: 430px;
    padding-top: 47px;

}

.goods_item .title {
    width: 230px;
    margin: 0 33px;
    text-align: center;
    font-size: 14px;
    color: #757575;
}

.goods_item .price {
    text-align: center;
    font-size: 14px;
    color: #ff6700;
}

.goods_item .price del {
    color: #b0b0b0;
}

.thumbs_list {
    width: 296px;
    margin-top: 20px;
    text-align: center;
}

.thumbs_list li {
    display: inline-block;
    width: 37px;
    height: 37px;
    border: 1px solid #b0b0b0;
}

.thumbs_list img {
    width: 33px;
    margin: 0 1.5px;
}

.goods_img {
    width: 200px;
    margin: 0 43px 10px;
}

.goods_img img {
    width: 200px;
}

.flags {
    margin-top: 20px;
    text-align: center;
}

.flags img {
    height: 18px;
}

/* 页面导航栏部分 */
.pagenav {
    padding-left: 480px;
    font-family: 'icomoon';
}

.numbers {
    display: block;
    width: 48px;
    height: 30px;
    margin: 0 5px;
    float: left;
    text-align: center;
    font-size: 18px;
    color: #b0b0b0;
}

.pagenav .first,
.pagenav .last {
    font-size: 24px;
}

a.numbers:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

.pagenav span[class="numbers"] {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
}

/* 商品部分 end */
/* 猜你喜欢部分 */
.search_favourite {
    height: 520px;
}

.favourite_title {
    position: relative;
    height: 51px;
    border-top: 1px solid #e0e0e0;
}

.favourite_title span {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -241px;
    width: 482px;
    height: 40px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 30px;
    color: #757575;
}

.search_recommend {
    overflow: hidden;
    height: 300px;
}

.recommend_list {
    width: 2480px;
    /* 动画名称 */
    animation-name: move;
    /* 持续时间 */
    animation-duration: 20s;
    /* 匀速运动 */
    animation-timing-function: linear;
    /* 播放在次数 */
    animation-iteration-count: infinite;
    /* infinite 表示永久 */
}

@keyframes move {
    45% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    95% {
        transform: translateX(-50%);
    }
    100% {
        transform: translate(0);
    }
}

.recommend_list li {
    position: relative;
    float: left;
    width: 234px;
    height: 300px;
    padding: 30px 0;
    margin-right: 14px;
    background-color: #fff;
}

.recommend_list li .recommend_links {
    display: block;
    width: 234px;
    height: 260px;
    background-color: #fff;
    text-align: center;
}

.recommend_list img {
    width: 140px;
    margin: 20px 47px 20px;
}

.recommend_name {
    width: 214px;
    height: 18px;
    margin: 0 10px 10px;
    font-size: 14px;
    color: #333;
}

.recommend_price {
    width: 234px;
    height: 21px;
    margin-bottom: 10px;
    color: #ff6700;
}

.recommend_itps {
    width: 234px;
    height: 21px;
    font-size: 14px;
    color: #757575;
}

.recommend_list .gouwuche {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    border: 1px solid #ff6700;
    background-color: #fff;
    line-height: 28px;
    text-align: center;
    color: #ff6700;
    transition: all .5s;
}
.recommend_list>li:hover .gouwuche {
    transform: translateY(-45px);
}
.recommend_list .gouwuche:hover {
    background-color: #ff6700;
    color: #fff;
}
.recommend_pagination {
    height: 49px;
    padding: 17px 0;
    text-align: center;
}
.recommend_pagination i {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #00000066;
}
.recommend_pagination i:first-child {
    width: 11px;
    height: 11px;
    border: 1px solid #ff6700;
    background-color: #fff;
}