.nav_tab_list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 0;
    width: 234px;
    height: 460px;
    padding: 20px 0;
    border: 1px solid #ff6a00;
    background-color: #fff;
}
.nav .nav_dt:first-child:hover .nav_tab_list {
    display: block;
}

.nav_tab_list .nav_list_title {
    position: relative;
    display: block;
    height: 42px;
    padding-left: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #424242;
}
.nav_tab_list .nav_list_title::after {
    content: '\e908';
    position: absolute;
    left: 180px;
    font-family: 'icomoon';
    color: #e0e0e0;
}
.nav_tab_list .nav_list_title:hover {
    background-color: #ff6a00;
}
.nav_title_dd {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 234px;
    width: 998px;
    height: 460px;
    border-width: 1px;
    border-style: solid;
    border-color: #b0b0b0 #b0b0b0 #b0b0b0 transparent;
    background-color: #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .3);
}
.nav_title_dd .col {
    float: left;
}
.nav_title_dd .col>li {
    width: 248px;
    height: 76.4px;
    padding-left: 20px;
    background-color: #fff;
    line-height: 76px;
}
.nav_title_dd a {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.nav_title_dd .col>li {
    /* 1.先强制一行内显文本 默认normal自动换行 */
    white-space: nowrap;
    /* 2. 超的部分隐藏 */
    overflow: hidden;
    /* 3. 文字用省略号替代超出的部分 */
    text-overflow: ellipsis;
}

.nav_title_dd a:hover {
    color: #ff6a00;
}

.nav_title_dd .col>li img {
    width: 40px;
}

.nav_list_dt:hover .nav_title_dd {
    display: block;
}

/* .box {
    width: 1000px;
    height: 500px;
    background-color: pink;
} */

/* 服务中心内容部分 start */
.service_content_bg {
    background-color: #f5f5f5;
}

.breadcrumbs {
    height: 40px;
    line-height: 40px;
    color: #757575;
}
.breadcrumbs span {
    margin: 0 6px;
}
.breadcrumbs a:hover {
    color: #ff6700;
}

.promotion {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.promotion .container {
    width: calc(1226px*5);
    height: 250px;
    animation-name: move;
    animation-duration: 30s;
    /* 匀速运动 */
    animation-timing-function: linear;
    /* 播放在次数 */
    animation-iteration-count: infinite;
}
@keyframes move {
    18% {
        transform: translate(0%);
    }
    20% {
        transform: translate(-20%);
    }
    38% {
        transform: translate(-20%);
    }
    40% {
        transform: translate(-40%);
    }
    58% {
        transform: translate(-40%);
    }
    60% {
        transform: translate(-60%);
    }
    78% {
        transform: translate(-60%);
    }
    80% {
        transform: translate(-80%);
    }
    98% {
        transform: translate(-80%);
    }
    100% {
        transform: translate(-100%);
    }
}
.promotion img {
    float: left;
    height: 250px;
}
.promotion_yuandian {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100px;
    height: 10px;
    margin-left: -50px;
}
.promotion_yuandian .yuan {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .1);
    background-color: rgba(0,0,0,.3);
}
.promotion_yuandian .yuan:first-child {
    background-color: #fff;
}

/* 楼层区 */
.service_box_hd {
    height: 106px;
    margin-top: 30px;
    font-size: 30px;
    color: #666;
    text-align: center;
    line-height: 106px;
}
.service_box_bd ul {
    /* 设为1240宽度防止浮动的盒起一行 */
    width: 1240px;
}

.service_box_bd ul>li {
    float: left;
    width: 296px;
    height: 277px;
    margin: 0 14px 36px 0;
    background-color: #fff;
    transition: all .8s;
}
.service_box_bd ul>li a {
    display: block;
    width: 296px;
    height: 277px;
    text-align: center;
}
.zizhu ul>li a h3 {
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    color: #000;
}
.zizhu ul>li a span {
    line-height: 14px;
    font: 14px;
    color: #757575;
}
.zizhu img {
    margin-top: 76px;
}

.service_box_bd li:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(-10px);
}

.service_box .service_box_bd ul>li a:hover h3,
.service_box .service_box_bd ul>li a:hover span {
    color: #ff6700;
}
.remen .img {
    height: 180px;
    margin: 35px 0 13px;
}
.remen .img img {
    width: 180px;
}
.remen span {
    display: block;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #666;
}
.kefu .p_content {
    height: 165px;
    padding-top: 116px;
    background-color: #fff;
}
.kefu .p_content span {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    color: #000;
}
.kefu p.tip {
    height: 42px;
    margin: 50px 0 14px;
    font-size: 14px;
}
/* 弹出的微信图标 */
.kefu ul>li:nth-child(3),
.kefu ul>li:nth-child(4) {
    position: relative;
}
.kefu ul>li:nth-child(3)::after,
.kefu ul>li:nth-child(4)::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 296px;
    height: 277px;
    background: #fff url(../images/二维码.png) no-repeat center center;
    background-size: 140px;
}
.kefu ul>li:nth-child(3):hover::after,
.kefu ul>li:nth-child(4):hover::after {
    display: block;
}
.shouhou .service_box_left {
    float: left;
    width: 614px;
    height: 360px;
}
.shouhou .service_box_right {
    float: right;
    width: 612px;
    height: 360px;
    background-color: #fff;
    text-align: center;
}
.shouhou .service_box_right p {
    height: 30px;
    margin: 64px 0 15px;
    font-size: 20px;
    color: #000;
} 
.shouhou .service_box_right span {
    font-size: 16px;
    color: #000;
}
.shouhou .service_box_right .icon_wrap {
    width: 500px;
    height: 63px;
    margin: 30px 56px 60px;
}
.shouhou .service_box_right .icon_wrap dl {
    float: left;
    width: 125px;
    height: 63px;
}
.shouhou .service_box_right .icon_wrap dd {
    height: 45px;
    padding-top: 10px;
    text-align: center;
}
.shouhou .service_box_right .icon_wrap dt {
    font-size: 14px;
    color: #333;
}

.shouhou .service_box_right .btn {
    display: block;
    height: 38px;
    margin: 15px 0;
    font-size: 16px;
    color: #b0b0b0;
    
}
.shouhou .service_box_right .btn:hover {
    color: #ff6700;
}

.service_search {
    width: 646px;
    height: 50px;
    margin: 50px auto;
    background-color: pink;
}
.service_search input {
    width: 594px;
    height: 50px;
    text-indent: 2em;
}
.service_search .search_btn {
    display: block;
    float: right;
    width: 52px;
    height: 50px;
    background-color: #fff;
    font-family: 'icomoon';
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color: #616161;
}
.service_search .search_btn:hover {
    background-color: #ff6700;
    color: #fff;
}
.wenti_content {
    height: 290px;
    margin-bottom: 30px;
    background-color: #fff;
}
.wenti_tab_list {
    height: 67px;
    border-bottom: 1px solid #f5f5f5;
}
.wenti_tab_list li {
    float: left;
    width: 175px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 18px;
    color: #333;
}
.wenti_tab_list .style_wenti_tab_list {
    background-color: #ff6700;
    color: #fff;
}
.wenti_tab_content {
    padding-top: 50px;
    background-color: #fff;
}
.wenti_tab_content ul>li {
    float: left;
    padding-left: 60px;;
}

.wenti_tab_content ul>li a {
    position: relative;
    display: block;
    width: 539px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
}
.wenti_tab_content ul>li a:hover {
    color: #ff6700;
}
.wenti_tab_content ul>li a:hover::before {
    background-color: #ff6700;
}
.wenti_tab_content ul>li a::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -20px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
}
/* 服务中心内容部分 end */